.App-header {
  text-align: center;
  height: 320px;
  padding: 0%;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 70px;
  pointer-events: none;
  align-self: center;
  justify-self: center;
  margin-top: 30px;
}
#text{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20% 0% 10% 0%;
}

#xbody{
  display: grid;
  grid-column:  80px 70px 70px;
  align-items: center;
  justify-content: center;
  color: black;
}
#xheader{
  background-color:#ff4c68;
  color: white;
  width: 350px;
  height: 150px;
  margin: 0px;

}

#result{

  padding-bottom: 15%;

  font-weight: 400;
  color: black;
  font-size: 23px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
